<!DOCTYPE html>
<html lag="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./public/styles/style.css">
  <link rel="icon" href="./public/images/logo.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <title><%= titlePage %></title>
</head>
<body>
  
  <% includeTemplate.forEach(function(template){ %>
    <%- include(`${template}`); %>
  <% }); %>
  
  <% includeJs.forEach(function(script){ %>
    <script src="<%= script %>"></script>
  <% }); %>
  
</body>
</html>