<main class="main">
  <section class="section">
      <div class="central">
          <img class= 'imagem' src="./public/images/Erro.png" alt="imagem de erro 404">
          <h1 class="titulo">Página não encontrada!</h1>
          <p class="desc">
              Essa Página não existe ou foi removida. 
          </p>
          <p class="desc">
              Sugerimos que volte para o início
          </p>
          <a href="/" class="btn">Voltar</a>
      </div>
  </section>
</main>