<section class="fale-conosco">
  <div class="fundo">
    <div class="group-title">
      <h1 class="title-main titulo-fale">Fale-conosco</h1>
    </div>
    <div>
      <p class="cont">Preencha o formulário abaixo e entre em contato!</p>
    </div>
  </div>
  <div class="fundo-fale-conosco">
    <div class="div-fale">
      <div class="informacoes">
        <img src="/images/logo.png" class="logo-info">
        <div class="contatos-icon">
          <p class="comunicacao">
            <img src="/images/tel2.svg" class="icon">
            <a href="tel:81998348837" class="link-comu">81 99834-8837</a>
          </p>
        </p>
        <p class="comunicacao">
          <img src="/images/mail.svg" class="icon">
          <a href="mailto:sgmaquinas@sgmaquinas.com.br" class="link-comu">sgmaquinas@gmail.com</a>
        </p>
      </p>
      <p class="comunicacao">
        <img src="/images/insta.svg" class="icon">
        <a href="https://www.instagram.com/maquinassg/" target="_blank" class="link-comu">@instagram</a>
      </p>
    </p>
    <p class="comunicacao">
      <img src="/images/loc.svg" class="icon">
      <a href="https://www.google.com.br/maps/place/SG+M%C3%81QUINAS/@-8.0444583,-34.9003257,21z/data=!4m6!3m5!1s0x7ab18fb689a2407:0xc866d7a149f7cdd7!8m2!3d-8.0443898!4d-34.9002505!16s%2Fg%2F11gdk_6c8n?entry=ttu" class="link-comu loc">R.Antônio Novais, 74 - Graças,<br/>
      Recife - PE, 52050-280</a>
    </p>
  </p>
  <div>
  </div>
</div>
</div>
<div class="formulario">
<form class="form">
  <label>Nome<b>*</b></label>
  <input type="text" name="nome" placeholder="Nome">
  <label>Empresa<b>*</b></label>
  <input type="text" name="empresa" placeholder="Nome da Empresa">
  <label>Telefone<b>*</b></label>
  <input type="text" name="telefone" placeholder="(99) 9 9999-9999">
  <label>E-mail<b>*</b></label>
  <input type="email" name="email" placeholder="seu@email.com">
  <label>Mensagem<b>*</b></label>
  <input style="padding-bottom: 120px;" type="text" name="mensagem" placeholder="Escreva">
  <button class="btn">Enviar</button>
</form>
</div>
</section>