
  <section id="banner">
    <img src="/images/banner1.jpg" class="banner1">
  </section>
  <section class="copyright">
    <h1 class="title">Produto Nacional<br>
      Eficiência em Sistemas de Embalagem
    </h1>
  </section>
  <section id="depoimentos">
    <div class="group-title">
      <h1 class="title-main">Depoimentos</h1>
    </div>
    <div class="avaliacoes">
      <div class="avaliacao">
        <div class="avaliacao-header">		
          <img src="/images/perfil.png" class="perfil">
          <div>
            <h2 class="clientes">Jaime Rodrigo</h2>
            <div class="estrelas">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="avaliacao-content">
          <p class="depoimento-text" alt="depoimento-do-cliente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div><div class="avaliacao">
        <div class="avaliacao-header">		
          <img src="/images/perfil.png" class="perfil">
          <div>
            <h2 class="clientes">Jaime Rodrigo</h2>
            <div class="estrelas">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="avaliacao-content">
          <p class="depoimento-text" alt="depoimento-do-cliente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="avaliacao">
        <div class="avaliacao-header">		
          <img src="/images/perfil.png" class="perfil">
          <div>
            <h2 class="clientes">Jaime Rodrigo</h2>
            <div class="estrelas">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                <path d="M6.5 0L7.95934 4.49139H12.6819L8.86126 7.26722L10.3206 11.7586L6.5 8.98278L2.6794 11.7586L4.13874 7.26722L0.318133 	4.49139H5.04066L6.5 0Z" fill="#FFD910"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="avaliacao-content">
          <p class="depoimento-text" alt="depoimento-do-cliente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="protudos-empresa">
    <div id="produtos">
      <div class="group-title">
        <h1 class="title-main">Produtos</h1>
      </div>
      <div class="conjunto-produtos">
        <div class="produto">
          <figure class="img-pr" style="  background-image: url('/images/produtos/esteira_transportadora.jpeg');"></figure>
          <p class="categoria-do-produto">
            Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <a href="produtos.html" class="link-orca"><button class="btn-orcar">+Detalhes</button></a>
        </div>
        <div class="produto">
          <figure class="img-pr" style="  background-image: url('/images/produtos/tunel_encolhimento1.png');"></figure>
          <p class="categoria-do-produto">
            Túnel de encolhimento
          </p>
          <h2 class="nome-do-produto">
            Túnel de encolhimento de Polietileno
          </h2>
          <a href="produtos.html" class="link-orca"><button class="btn-orcar">+Detalhes</button></a>
        </div>
        <div class="produto">
          <figure class="img-pr" style="  background-image: url('/images/produtos/tunel_de_bundling.png');"></figure>
          <p class="categoria-do-produto">
            Seladora bundling
          </p>
          <h2 class="nome-do-produto">
            Túnel de Bundling
          </h2>
          <a href="produtos.html" class="link-orca"><button class="btn-orcar">+Detalhes</button></a>
        </div>
      </div>
      <div class="conjunto-de-baixo">
        <div class="produto">
          <figure class="img-pr" style="  background-image: url('/images/produtos/hospitalar1.jpeg');"></figure>
          <p class="categoria-do-produto">
            Linha hospitalar
          </p>
          <h2 class="nome-do-produto">
            Seladora contínua de papel grau cirúrgico 
          </h2>
          <a href="produtos.html" class="link-orca"><button class="btn-orcar">+Detalhes</button></a>
        </div>
        <div class="produto">
          <figure class="img-pr" style="  background-image: url('/images/produtos/seladora1.png');"></figure>
          <p class="categoria-do-produto">
            Seladoras
          </p>
          <h2 class="nome-do-produto">
            Seladora semi automática
          </h2>
          <a href="produtos.html" class="link-orca"><button class="btn-orcar">+Detalhes</button></a>
        </div>
        <div class="produto">
          <figure class="img-pr" style="  background-image: url('/images/produtos/filme.jpeg');"></figure>
          <p class="categoria-do-produto">
            P.V.C.
          </p>
          <h2 class="nome-do-produto">
            Filme de PVC
          </h2>
          <a href="produtos.html" class="link-orca"><button class="btn-orcar">+Detalhes</button></a>
        </div>			
      </div>
      <a href="/produtos" class="ver-todos-os-protudos">Veja Todos ➜</a>
    </div>
    <div id="empresa">
      <div class="group-title">
        <h1 class="title-main">Nossa Empresa</h1>
      </div>
      <div class="nossa-empresa">
        <p class="text-empresa">
          A SG Máquinas é uma empresa com <strong>mais de 30 anos de experiência</strong> especializada na fabricação de máquinas de empacotamento para vários segmentos. Localizada na cidade de Recife/PE, desde 1986 vem fornecendo produtos de qualidade dentro e fora do estado, mantendo a mesma qualidade no processo de produção desde sua criação.<br /><br />
          No processo de produção das diversas máquinas e tecnologias, nós temos a preocupação com a ergonomia, a facilidade no manuseio e com o aproveitamento mais eficaz do consumo de energia elétrica, proporcionando ao cliente uma aquisição de um produto com <strong>melhor custo/benefício</strong>, além de se manter socialmente responsável como empresa.<br/>
          Além disso, a SG Máquinas preza pelo bom atendimento ao cliente, orientando-o sempre sobre os melhores sistemas de máquinas que venham atender às suas necessidades, objetivando sempre o aumento na sua linha de produção, tudo isso com a pontualidade e a eficiência de sempre.<br /><br />
          São 37 anos de experiência que conferem à SG Máquinas uma credibilidade maior no rumo de fabricação de máquinas de serviços de manutenção<br /><br />
          <strong>SG Máquinas, eficiência em máquinas de embalagem.</strong>
        </p>
        <div class="banner2">
          <img src="/images/banner2.jpg">
          
        </div>
      </div>
    </section>
    <section id="endereco">
      <div class="endereco-da-sg-maquinas">
        <h1 class="title title-endereco">
          Endereço
        </h1>
        <p class="localizacao">
          <strong>SG MÁQUINAS</strong>
          <br/>
          R.Antônio Novais, 74 - Graças,Recife - PE,<br/>
          52050-280
        </p>
        <div class="contato-externo">
          <p>
            <img src="/images/tel.svg" class="icon">
            <a href="tel:8134270156">81 3427-0156</a>
          </p>
          <p>
            <img src="/images/tel.svg" class="icon">
            <a href="tel:81930335760">81 3033-5760</a>
          </p>
          <p>
            <img src="/images/email.svg" class="icon">
            <a href="mailto:sgmaquinas@sgmaquinas.com.br">sgmaquinas@sgmaquinas.com.br</a>
          </p>
        </div>
      </div>
      <div class="mapa-localizacao">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.5583502500035!2d-34.90282542487116!3d-8.044384480342192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18fb689a2407%3A0xc866d7a149f7cdd7!2sSG%20M%C3%81QUINAS!5e0!3m2!1spt-BR!2sbr!4v1692237855255!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
    