<section class="pag_protudos">
  <div class="group-title" style="text-align: left; padding: 50px;">
    <h1 class="title-main">Produtos</h1>
   </div>
  <div class="div-produtos">
      <div class="nav-produtos">
        <ul class="nome_produtos">
          <li class="categoria">
            Máquinas
          </li>
          <li onclick="mudarCategoria(this, '.esteira');" class="active item-categoria">
            Esteira transportadora
          </li>
          <li onclick="mudarCategoria(this, '.seladora-bundling');" class="item-categoria">
            Seladora bundling
          </li>
          <li onclick="mudarCategoria(this, '.tunel-enco');" class="item-categoria">
            Túnel de encolhimento
          </li>
          <li onclick="mudarCategoria(this, '.hospitalar');" class="item-categoria">
            Linha hospitalar
          </li>
          <li class="item-categoria" onclick="mudarCategoria(this, '.seladoras');">
              Seladoras
          </li>
          <li class="categoria">
            Embalagens
          </li>
          <li onclick="mudarCategoria(this, '.PVC');" class="item-categoria">
            P.V.C.
          </li>
        </ul>
      </div>
    <div class="produto_ seladoras">
      <p class="tipo">
        Maquinas > <b>Seladoras</b>
      </p>
      <div class="group-produto">
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/seladora1.png');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/seladora2.png');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/seladora3.png');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/seladora4.jpeg');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/seladora5.png');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
      </div>
    </div>
    <div class="produto_ hospitalar">
      <p class="tipo">
        Maquinas > <b>Linha hospitalar</b>
      </p>
      <div class="group-produto">
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/hospitalar1.jpeg');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/hospitalar2.png');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
      </div>
    </div>  
    <div class="produto_ tunel-enco">
      <p class="tipo">
        Maquinas > <b>Túnel de encolhimento</b>
      </p>
      <div class="group-produto">
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/tunel_encolhimento1.png');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/tunel_encolhimento2.png');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/tunel_encolhimento3.jpeg');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
      </div>
    </div>
    <div class="produto_ seladora-bundling">
      <p class="tipo">
        Maquinas > <b>Seladora bundling</b>
      </p>
      <div class="group-produto">
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/tunel_de_bundling.png');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
      </div>
    </div>
    <div class="produto_ esteira">
      <p class="tipo">
        Maquinas > <b>Esteira transportadora</b>
      </p>
      <div class="group-produto">
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/esteira_transportadora.jpeg');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
      </div>
    </div>  
    <div class="produto_ PVC">
      <p class="tipo">
        Maquinas > <b>P.V.C</b>
      </p>
      <div class="group-produto">
        <div class="produto2">
          <a href="#">
            <figure class="img-pr" style="  background-image: url('/images/produtos/filme.jpeg');"></figure>
          </a>
          <p class="categoria-do-produto">
             Esteira
          </p>
          <h2 class="nome-do-produto">
            Esteira transportadora
          </h2>
          <button class="btn-orcar btn_pr">+Orçar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>