<section class="pag_protudos">
  <div class="div-produtos">
    <div class="group-title">
      <h1 class="title-main">Produtos</h1>
    </div>
    <div class="con_produtos">
      <div class="content-produtos">
        <ul class="nome_produtos">
          <li class="categoria">
            Máquinas
          </li>
          <li>
            Encolhimento
          </li>
          <li>
            Esteira
          </li>
          <li>
            Automática
          </li>
          <li>
            Aplicadores de Filme
          </li>
          <li>
            <strong>
              Seladoras
            </strong>
          </li>
          <li class="categoria">
            Embalagens
          </li>
          <li>
            P.V.C.
          </li>
        </ul>
      </div>
    </div>
    <div class="produto_">
      <p class="tipo">
        Maquinas > <b>Seladoras</b>
      </p>
      <div class="produto2">
        <a href="produto.html">
          <img src="./images/produto1.jpg">
        </a>
        <p class="categoria-do-produto">
          Seladoras
        </p>
        <h2 class="nome-do-produto">
          Seladora Conjugada
        </h2>
        <button class="btn-orcar btn_pr">+Orçar</button>
      </div>
    </div>
  </div>
</div>
</section>