<footer class="rodape">			
  <img src="/images/logo.png">
</footer>
<!-- <footer class="rodape2 ro-fale">	
	<div class="coord">
		<p>
			R. Antônio Novais, 74 - Graças, Recife - PE, 52050-280<br/>
			Próximo ao Museu do Estado
		</p>
	</div>		
	<div class="conexao">
		<p>
			Tel: (81) 3427-0156 ou (81) 3033-5760<br/>
			Email: sgmaquinas@sgmaquinas.com.br
		</p>
	</div>		
	<div class="logo-rodape-fale"
	><img src="./src/imagens/logo.png">
</div>		
</footer> -->