<nav class="menu">
  <a href="/inicio"><img src="/images/logo.gif" class="logo-menu"></a>
  <ul>
    <li class="menu-item">
      <a href="/produtos">
        Protudos
      </a>
    </li>
    <li class="menu-item">
      <a href="/inicio#empresa" class="link">
        Empresa
      </a>
    </li>
    <li class="menu-item">
      <a href="/orcamento" class="link">
        Orçamentos
      </a>
    </li>
    <li class="menu-item contato">
      <a href="faleconosco">
        Fale conosco
      </a>	
    </li>
  </ul>
</nav>